.divider{
  border: 0.14rem solid white;
  margin: 2rem;
}

:root{

  --bg-color: rgb(13, 17, 22);
  --text-color: white;

}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

li{
  text-decoration: none;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  color: aquamarine;
  transition: 0.7s;
}

.border{
  border: 2px solid rgb(255, 255, 255);
}

.flex{
  display: flex;
}